.wp-block-ray-google-drive.components-placeholder {
	padding-bottom: 5em;
}

.mexp-gdrive-gutenberg {
	background: transparent;
	border: 0;
	margin-top: -60px;
	margin-left: 1em;
	height: 55px;
	position: relative;
	z-index: 99989;
}

/* WP 5.4 styles */
.block-editor-editor-skeleton__html-container .wp-block-ray-google-drive.components-placeholder {
	padding-bottom: 4em;
}

.block-editor-editor-skeleton__html-container .mexp-gdrive-gutenberg {
	margin-left: 1em;
	text-align: left;
}