.media-modal .media-frame .mexp-content-gdrive {
	background: #f5f5f5;
}

.media-frame .mexp-content.mexp-content-gdrive .attachments {
	background: #fff;
	right: 300px;
}

.media-frame .mexp-content-gdrive .attachment {
	height: 164px;
}

.media-frame .mexp-content.mexp-content-gdrive-gauth .mexp-toolbar {
	padding-bottom: 999em;
}

.media-frame-content[data-columns="2"] .mexp-content-gdrive-gsearch .mexp-toolbar .mexp-input-search {
	width: 48%;
}

#gauth #signinButton {
	margin: 0;
	padding: 0;
	border: 0;
}

#gauth #signinButton img {
	display: block;
}

#gauth .button-larger {
	font-size: 1.3em;
	height: auto;
	padding: .3em .8em;
}

.mexp-content-gdrive .description {
	float: left;
	margin: 7px 10px;
}

.mexp-content-gdrive .media-sidebar {
	z-index: 125;
}

.mexp-content-gdrive .mexp-item-thumb img {
	width: 150px;
	border: 1px solid #ccc;
}

.mexp-content-gdrive .mexp-item-content strong {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: bottom;
	white-space: nowrap;
	width: 83%;
}

.mexp-content-gdrive .mexp-item-main {
	height: 21px;
	margin-top: 6px;
}

.mexp-content-gdrive .media-sidebar .dashicons-warning {
	margin-right: 3px;
	vertical-align: bottom;
}

.mexp-content-gdrive .embed-status {
	min-height: 30px;
}

body.buddypress #mexp-gdrive {
	margin-top: 2em;
}

@media only screen and (max-width: 900px) {
	.media-frame .mexp-content.mexp-content-gdrive .attachments {
		right: 227px
	}
}

@media only screen and (max-width: 640px), screen and (max-height: 400px) {
	.mexp-content-gdrive .media-sidebar {
		bottom: auto;
	}
}